.related-products {
    text-align: center;
<<<<<<< HEAD
    max-width: 560px;
=======
>>>>>>> ea4b75da4e436f4801c890361afadde44e4602f7
}

.related-products .t-h2 {
    margin-bottom: 10px;
}

.related-products__slider {
    display: flex;
    max-width: 100%;
    overflow-x: scroll;
    padding: 10px 0;
}
