.related-products {
    text-align: center;
}

.related-products .t-h2 {
    margin-bottom: 10px;
}

.related-products__slider {
    display: flex;
    max-width: 100%;
    overflow-x: scroll;
    padding: 10px 0;
}
