<template name="productDetail">
    {{> headermain toggleView='mirror' toggleText='Toggle Mirror View'}}
    <main class="product-detail">
        <div class="product-detail__mirror">
            <!-- <img id="video-feed" class="mirror-img" src="http://localhost:5000/video_feed" alt=""> -->
        </div>
        <div class="product-detail__info">
            <button type="button" class="js-audio-modal product-detail__mic">
                <img src="/img/mic.svg" alt=""/>
            </button>
        </div>
    </main>
    {{> modalAudio}}
    {{> modalSA}}
</template>
