.product-detail {
    display: flex;
    height: calc(100vh - 84px);
}

.product-detail__info,
.product-detail__mirror {
    flex-grow: 1;
    padding: 20px 10px;
    position: relative;
    width: 50%;
}

.product-detail__mirror {
    align-items: center;
    display: flex;
}

.product-detail__info {
    opacity: 0;
    transition: opacity .4s ease-out;
    transition-delay: .5s;
    max-width: 680px;
}

.product-detail__info.loaded {
    opacity: 1;
}

.product-detail__mic {
    box-shadow: 0 6px 20px 0 rgba(0,0,0,.19);
    background-color: #fff;
    position: absolute;
    top: 1rem;
    right: 2rem;
    width: 80px;
    height: 80px;
    text-align: center;
    transition: background-color .2s ease-out;
}

.product-detail__mic:hover,
.product-detail__mic:focus {
    background-color: rgba(245, 245, 245, 0.8);
    outline: none;
}

.product-detail__mic img {
    height: 50px;
    margin: 0 auto;
}

.product-detail__product {
    margin-bottom: 30px;
}

.product-detail__product .t-h1 {
    margin: 15px 0 10px;
}

.product-detail__product img {
    height: 280px;
}

.product-detail__price {
    margin-bottom: 20px;
    font-size: 20px;
}

.product-detail__sizes {
    display: flex;
    margin-top: 5px;
}

.product-detail__sizes span {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #0286cd;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    margin-right: 10px;
    font-size: 20px;
}

.product-detail__sizes span.disabled {
    background-color: #f5f5f5;
}
