.product-detail {
    display: flex;
    height: calc(100vh - 84px);
}

.product-detail__info,
.product-detail__mirror {
    flex-grow: 1;
    position: relative;
    width: 50%;
}

.product-detail__mirror {
    align-items: center;
    display: flex;
}

.product-detail__mic {
    box-shadow: 0 6px 20px 0 rgba(0,0,0,.19);
    background-color: #fff;
    position: absolute;
    top: 1rem;
    right: 2rem;
    width: 80px;
    height: 80px;
    text-align: center;
    transition: background-color .2s ease-out;
}

.product-detail__mic:hover,
.product-detail__mic:focus {
    background-color: rgba(245, 245, 245, 0.8);
    outline: none;
}

.product-detail__mic img {
    height: 50px;
    margin: 0 auto;
}
