body, html {
    height: 100%;
}

#the-background {
    /* The image used */
    background-image: url("fitting_room.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    background-color: black;
}
