<template name="headermain">
    <header class="header">
        <div class="u-wrapper header__wrapper">
            <img src="/img/adidas-logo-white.svg" class="header__logo" alt=""/>
            <nav>
                <button class="button button--primary js-sa-modal" type="button" name="button">Call Sales Advisor</button>
                <button class="button button--secondary js-toggleview" type="button" name="button" data-route="{{toggleView}}">
                    {{toggleText}}
                </button>
            </nav>
        </div>
    </header>
</template>
